To use PUT for Registration Update is right

In revisioned LWM2M spec doc., POST is used for Registration update. The doc says that registration update is an execution so it uses POST.
However, I don't think so. POST is used to create new resource. 
Refer to http://restcookbook.com/HTTP%20Methods/put-vs-post/ , please.
I think PUT is better for Registration Update.


POST and PUT are defined in COAP, RFC725, section 5.8.2 and 5.8.3.
The difference is the "idempotent" statement. 
Two PUT with the same assiciated data should set the server in the same state,
two POST may not. Though the UPDATE should trigger a timer on the server,
the server is not left in the same state.

Ok. I see.
https://tools.ietf.org/html/draft-ietf-core-resource-directory-05 is also using POST for registration update (changed at version –02). It seems the IETF core WG community agreed about it.
